ng-sidebar-container {
  height: 100vh;
}

.link-icon {
  padding-right: 10px;
}

.closeSidebar {
  padding: 5px 10px;
  text-decoration: none;
  background-color: #eee;
}

.bg-dark {
  background-color: rgb(14, 51, 134)!important;
}