ng-sidebar-container {
  height: 100vh;
}

.link-icon {
  padding-right: 10px;
}

a.nav-link {
  color: darkslategray;
  
}

a.nav-link:hover {
  color: #007bff;
}

.content {
  padding-top: 60px;
}

.closeSidebar {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.bg-dark {
  background-color: rgb(14, 51, 134)!important;
}

.login-icon {
  margin-left: 15px;
}