<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>

  <!-- A sidebar -->
  <ng-sidebar 
  [(opened)]="_opened"
  [position]="_position"
  [showBackdrop]="_showBackdrop"
  [sidebarClass]="'schedule-sidebar'">
    <a closeSidebar>Closes the sidebar</a>
    <app-game-schedule></app-game-schedule>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <router-outlet></router-outlet>
    <button class="sidebar_control" (click)="_toggleSidebar()">Toggle sidebar</button>
  </div>
</ng-sidebar-container>

<app-traffic-congestion></app-traffic-congestion>
