
<div class="container">

  <div class="jumbotron">
    <h1>Welcome {{ authService.GetName() }}</h1>

    <!-- <h2>{{ authService.input | uppercase }}</h2> -->
    <div>
        <div>

          <span class = "alert">Traffic Alerts:</span>
          <label class="switch">
           
            <input type="checkbox" [(ngModel)]="authService.trafficAlarm"    
            value= true checked> 
            <div class="slider round"></div>
          </label>
        
        </div>
        <div>
          <span class= "alert">Game Alerts:</span>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="authService.gameAlarm" 
            value= true checked> 
            <div class="slider round"></div>
          </label>
        </div>

    </div>
    <!--<h1>gameAlarm: {{authService.gameAlarm}}</h1>
    <h1>trafficAlarm: {{authService.trafficAlarm}}</h1>
    -->
    <button (click)="CheckAlarms()"></button>

    <a class="btn btn-lg btn-primary" href="" role="button" (click)="authService.logout()">Logout</a>
    
    <!-- <p *ngIf="!authService.isLoggedIn()">
      <a class="btn btn-lg btn-primary" href="" role="button" (click)="authService.signInWithGoogle()">
        Login</a>
    </p> -->
    <!-- <p *ngIf="authService.isLoggedIn()">
      <a class="btn btn-lg btn-primary" href="" role="button" (click)="authService.logout()">Logout</a>
    </p> -->
  </div>

</div> <!-- /container -->