/* Cubs blue RGB(14,51,134)
   Cubs red  RGB(204,52,51) */

/* You can add global styles to this file, and also import other style files */
body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}


/*
  I am honestly not sure why the only way to style the sidebar is in the main style sheet.
  The ng-sidebar demo app also does it this way.
  MS 5/3/18
*/
.schedule-sidebar {
  background-color: lightblue;
  padding: 2em 0.5em;
}