/* You can add global styles to this file, and also import other style files */
body {
  background-color: lightblue;
  margin-left: 100px;
  margin-right: 100px;
}

.schedule-sidebar {
  background-color: aliceblue;
  padding: 2em 1em;
}