.game {
  min-height: 40px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  margin: 5px 0px 5px 0px;
}

#day {
  float: left;
}

#time {
  float: right;
  padding-right: 4px;
}

.date {
  min-height: 20px;
  padding: 2px 0px 0px 4px;
  float: top;
}

.date div {
  display: inline-block;
}

.opponent {
  min-height: 20px;
  padding: 2px 0px 0px 4px;
  float: bottom;
}