:host {
  display: block;
  background-color: rgb(178, 185, 199)
}

img {
  margin-left: 25px;
}

h1 {
  font-size: 2em;
  color: #039be5;
  align-content: center;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
}

nav a:visited, a:link {
  color: #039be5;
}

nav a:hover {
  color: #607D8B;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

.navbar {
  display: inline-block;
}